</br>
<div class="row">
        <div class="col-xs-6 col-md-3">
            
            <div class="panel status panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{toplamkisi}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Kullanıcılar</strong>
                </div>
            </div>

        </div>          
        <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-warning">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{aktifkisi}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Aktif Kullanıcılar</strong>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-3">
           
            <div class="panel status panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{taglikisi}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Taglı Kullanıcılar</strong>
                </div>
            </div>
        
         
        </div>
         <div class="col-xs-6 col-md-3">
            
            <div class="panel status panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{takvidurumu}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Takviye Durumu</strong>
                </div>
            </div>

        </div>      
</div>
<div class="row">
 <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{seskisi}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Sesteki Kullanıcılar</strong>
                </div>
            </div>

        </div>
                <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{sestetaglikisi}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Sesteki Taglı Kullanıcılar</strong>
                </div>
            </div>

         
        </div>
                <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{publicses}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Public Sesteki Kullanıcılar</strong>
                </div>
            </div>

         
        </div>
        <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">{{yayinvekam}}</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Yayın & Kamera Açık Kullanıcılar</strong>
                </div>
            </div>

         
        </div>
    </div>