<script>
    // Select all tabs
$('.nav-tabs a').click(function(){
  $(this).tab('show');
})

// Select tab by name
$('.nav-tabs a[href="#home"]').tab('show')

// Select first tab
$('.nav-tabs a:first').tab('show')

// Select last tab
$('.nav-tabs a:last').tab('show')

// Select fourth tab (zero-based)
$('.nav-tabs li:eq(3) a').tab('show')
</script>
<style>
    body{
background:#eee;
}
.fs35 {
    font-size: 35px !important;
}

.mw50 {
    max-width: 50px !important;
}
.mn {
    margin: 0 !important;
}
.mw140 {
    max-width: 140px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}

.mw40 {
    max-width: 40px !important;
}

.p30 {
    padding: 30px !important;
}

.page-heading {
  position: relative;
  padding: 30px 40px;
  margin: -25px -20px 25px;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}
.page-tabs {
  margin: -25px -20px 30px;
  padding: 15px 25px 0;
  border-bottom: 1px solid #ddd;
  background: #e9e9e9;
}
.page-tabs .nav-tabs {
  border-bottom: 0;
}
.page-tabs .nav-tabs > li > a {
  color: #AAA;
  padding: 10px 20px;
}
.page-tabs .nav-tabs > li:hover > a,
.page-tabs .nav-tabs > li:focus > a {
  border-color: #ddd;
}
.page-tabs .nav-tabs > li.active > a,
.page-tabs .nav-tabs > li.active > a:hover,
.page-tabs .nav-tabs > li.active > a:focus {
  color: #666;
  font-weight: 600;
  background-color: #eee;
  border-bottom-color: transparent;
}
@media (max-width: 800px) {
  .page-tabs {
    padding: 25px 20px 0;
  }
  .page-tabs .nav-tabs li {
    float: none;
    margin-bottom: 5px;
  }
  .page-tabs .nav-tabs li:last-child,
  .page-tabs .nav-tabs li.active:last-child {
    margin-bottom: 10px;
  }
  .page-tabs .nav-tabs > li > a:hover,
  .page-tabs .nav-tabs > li > a:focus {
    border: 1px solid #DDD;
  }
  .page-tabs .nav-tabs > li.active > a,
  .page-tabs .nav-tabs > li.active > a:hover,
  .page-tabs .nav-tabs > li.active > a:focus {
    border-bottom-color: #ddd;
  }
}
.panel {
  position: relative;
  margin-bottom: 27px;
  background-color: #ffffff;
  border-radius: 3px;
}
.panel.panel-transparent {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
.panel.panel-border {
  border-style: solid;
  border-width: 0;
}
.panel.panel-border.top {
  border-top-width: 5px;
}
.panel.panel-border.right {
  border-right-width: 5px;
}
.panel.panel-border.bottom {
  border-bottom-width: 5px;
}
.panel.panel-border.left {
  border-left-width: 5px;
}
.panel.panel-border > .panel-heading {
  background-color: #fafafa;
  border-color: #e2e2e2;
  border-top: 1px solid transparent;
}
.panel.panel-border > .panel-heading > .panel-title {
  color: #5a5555;
}
.panel.panel-border.panel-default {
  border-color: #DDD;
}
.panel.panel-border.panel-default > .panel-heading {
  border-top: 1px solid transparent;
}
.panel-menu {
  background-color: #fafafa;
  padding: 12px;
  border: 1px solid #e2e2e2;
}
.panel-menu.dark {
  background-color: #f8f8f8;
}
.panel-body .panel-menu {
  border-left: 0;
  border-right: 0;
}
.panel-heading + .panel-menu,
.panel-menu + .panel-body,
.panel-body + .panel-menu,
.panel-body + .panel-body {
  border-top: 0;
}
.panel-body {
  position: relative;
  padding: 15px;
  border: 1px solid #e2e2e2;
}
.panel-body + .panel-footer {
  border-top: 0;
}
.panel-heading {
  position: relative;
  height: 52px;
  line-height: 49px;
  letter-spacing: 0.2px;
  color: #756f6f;
  font-size: 15px;
  font-weight: 400;
  padding: 0 8px;
  background: #fafafa;
  border: 1px solid #e2e2e2;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-heading + .panel-body {
  border-top: 0;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-heading .widget-menu .btn-group {
  margin-top: -3px;
}
.panel-heading .widget-menu .form-control {
  margin-top: 6px;
  font-size: 11px;
  height: 27px;
  padding: 2px 10px;
  border-radius: 1px;
}
.panel-heading .widget-menu .form-control.input-sm {
  margin-top: 9px;
  height: 22px;
}
.panel-heading .widget-menu .progress {
  margin-top: 11px;
  margin-bottom: 0;
}
.panel-heading .widget-menu .progress-bar-lg {
  margin-top: 10px;
}
.panel-heading .widget-menu .progress-bar-sm {
  margin-top: 15px;
}
.panel-heading .widget-menu .progress-bar-xs {
  margin-top: 17px;
}
.panel-icon {
  padding-left: 5px;
}
.panel-title {
  padding-left: 6px;
  margin-top: 0;
  margin-bottom: 0;
}
.panel-title > .fa,
.panel-title > .glyphicon,
.panel-title > .glyphicons,
.panel-title > .imoon {
  top: 2px;
  min-width: 22px;
  color: inherit;
  font-size: 14px;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel-body + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 2px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 2px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 2px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 2px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #eeeeee;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.panel-group {
  margin-bottom: 19px;
}
.panel-group .panel-title {
  padding-left: 0;
}
.panel-group .panel-heading,
.panel-group .panel-heading a {
  position: relative;
  display: block;
  width: 100%;
}
.panel-group.accordion-lg .panel + .panel {
  margin-top: 12px;
}
.panel-group.accordion-lg .panel-heading {
  font-size: 14px;
  height: 54px;
  line-height: 52px;
}
.panel-group .accordion-icon {
  padding-left: 35px;
}
.panel-group .accordion-icon:after {
  position: absolute;
  content: "\f068";
  font-family: "FontAwesome";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #555;
  left: 10px;
  top: 0;
}
.panel-group .accordion-icon.collapsed:after {
  content: "\f067";
}
.panel-group .accordion-icon.icon-right {
  padding-left: 10px;
  padding-right: 30px;
}
.panel-group .accordion-icon.icon-right:after {
  left: auto;
  right: 5px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 3px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #eeeeee;
}


.media {
  color: #817b7b;
  font-weight: 600;
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  color: #555555;
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}

/*===============================================
  Tabs
================================================= */
/* Tabs Wrapper */
.tab-block {
  position: relative;
}
/* Tabs Content */
.tab-block .tab-content {
  overflow: auto;
  position: relative;
  z-index: 10;
  min-height: 125px;
  padding: 16px 12px;
  border: 1px solid #e2e2e2;
  background-color: #FFF;
}
/*===============================================
  Tab Navigation
================================================= */
.tab-block .nav-tabs {
  position: relative;
  border: 0;
}
/* nav tab item */
.tab-block .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
/* nav tab link */
.tab-block .nav-tabs > li > a {
  z-index: 9;
  position: relative;
  color: #AAA;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 20px;
  margin-right: -1px;
  border-color: #e2e2e2;
  border-radius: 0;
  background: #fafafa;
}
.tab-block .nav-tabs > li:first-child > a {
  margin-left: 0;
}
/* nav tab link:hover */
.tab-block .nav-tabs > li > a:hover {
  background-color: #f4f4f4;
}
/* nav tab active link:focus:hover */
.tab-block .nav-tabs > li.active > a,
.tab-block .nav-tabs > li.active > a:hover,
.tab-block .nav-tabs > li.active > a:focus {
  cursor: default;
  position: relative;
  z-index: 12;
  color: #555555;
  background: #FFF;
  border-color: #e2e2e2;
  border-bottom: 1px solid #FFF;
}
/*===============================================
  Tab Navigation - Tabs Left
================================================= */
.tabs-left {
  float: left;
}
/* nav tab item */
.tabs-left > li {
  float: none;
  margin: 0 -1px -1px 0;
}
/* nav tab item link */
.tabs-left > li > a {
  padding: 14px 16px;
  color: #777;
  font-weight: 600;
  border: 1px solid transparent;
  border-color: #DDD;
  background: #fafafa;
}
/* nav tab link:hover */
/* nav tab active link:focus:hover */
.tab-block .tabs-left > li.active > a,
.tab-block .tabs-left > li.active > a:hover,
.tab-block .tabs-left > li.active > a:focus {
  color: #555;
  border-color: #DDD #FFF #DDD #DDD;
  cursor: default;
  position: relative;
  z-index: 12;
  background: #FFF;
}
/*===============================================
  Tab Navigation - Tabs Right
================================================= */
.tabs-right {
  float: right;
}
/* nav tab item */
.tabs-right > li {
  float: none;
  margin: 0 0 -1px -1px;
}
/* nav tab item link */
.tabs-right > li > a {
  padding: 14px 16px;
  color: #777;
  font-weight: 600;
  border: 1px solid transparent;
  border-color: #DDD;
  background: #fafafa;
}
/* nav tab link:hover */
/* nav tab active link:focus:hover */
.tab-block .tabs-right > li.active > a,
.tab-block .tabs-right > li.active > a:hover,
.tab-block .tabs-right > li.active > a:focus {
  color: #555;
  border-color: #DDD #DDD #DDD #FFF;
  cursor: default;
  position: relative;
  z-index: 12;
  background: #FFF;
}
/*===============================================
  Tab Navigation - Tabs Right
================================================= */
.tabs-below {
  position: relative;
}
/* nav tab item */
.tabs-below > li {
  float: left;
  margin-top: -1px;
}
/* nav tab item link */
.tabs-below > li > a {
  position: relative;
  z-index: 9;
  margin-right: -1px;
  padding: 11px 16px;
  color: #777;
  font-weight: 600;
  border: 1px solid #DDD;
  background: #fafafa;
}
/* nav tab link:hover */
/* nav tab active link:focus:hover */
.tab-block .tabs-below > li.active > a,
.tab-block .tabs-below > li.active > a:hover,
.tab-block .tabs-below > li.active > a:focus {
  cursor: default;
  position: relative;
  z-index: 12;
  color: #555555;
  background: #FFF;
  border-color: #DDD;
  border-top: 1px solid #FFF;
}
.quick-btn {
  position: relative;
  display: inline-block;
  font-size: 8px;
  width: 32px;
  border-radius: 5px;
  height: 32px;
  padding-top: 8px;
  margin: 2px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
}
.quick-btn .label {
  position: absolute;
    font-size: 12px;
  top: -5px;
  right: -5px;
}

.btn-metis-4 {
  color: #ffffff;
  background-color: #a264e7;
  border-color: #62309a;
}
</style>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<br>
<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading" style="border-radius: 5px;" >
        <div class="media clearfix">
          <div class="media-left pr30">
              <img style="border-radius: 5px;" src="{{avatarMember}}" alt="..." width="160">
          </div>                      
          <div class="media-body va-m">
            <h2 class="media-heading">{{member.user.username}}#{{member.user.discriminator}}<span style="font-size: 12px;"> ({{görünürisim}}) </span>
              <small><span class="label label-warning">{{durumcuk}}</span></small>
            </h2>
            {{#if bio}}<p style="font-size: 12px;"><i class="fa fa-address-card-o" aria-hidden="true"></i> {{bio}}</p>{{else}}</br>{{/if}}
            <p style="font-size: 12px;"><i class="fa fa-clock-o text-success" aria-hidden="true"></i> {{oluşturulmatarihi}} hesabı oluşturuldu.</p>
            <p style="font-size: 12px;"><i class="fa fa-calendar text-success" aria-hidden="true"></i> {{katılmatarihi}} tarihinde sunucuya katıldı.</p>
            <div>
            {{#if rozetbabası}}           
            {{#each rozetbabası}} 
                            <a class="quick-btn" href="#" data-toggle="tooltip" title="{{Rozetisim}}">
                                <i><img src="{{Rozetresim}}" width="16" alt="{{Rozetisim}}" data-toggle="tooltip" title="{{Rozetisim}}"></img></i><br/>                         
                            </a>
                            
            {{/each}}
            {{else}}
            <P style="font-size: 12px;"><i class="fa fa-certificate text-warning" aria-hidden="true"></i> Henüz bir rozet sahibi değil.</P>
            {{/if}}
   </div>
        
           
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-star"></i>
              </span>
              <span class="panel-title"> İstatistikler</span>
            </div>
            <div class="panel-body pn">
              <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="hidden">
                    <th class="mw30">IC</th>
                    <th>Stat Name</th>
                    <th>Count</th>
                  </tr>
                </thead>
                <tbody>
                {{#each davetBilgisi}}
                  <tr>
                      <td><span class="fa fa-users text-danger"></span></td>
                    <td>Davet Bilgisi</td>
                    <td>{{davet}} davet</td>
                  </tr>
                {{/each}}                         
                <tr>
                    <td><span class="fa fa-list-alt text-primary"></span></td>
                    <td>Ceza Puan Bilgisi</td>
                    <td> {{cezapuan}}</td>
                  </tr>
               <tr>
                    <td>
                      <span class="fa fa-money text-success"></span>
                    </td>
                    <td>Coin Bilgisi</td>
                    <td>
                      {{coin}} 💴</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fa fa-microphone text-primary"></span>
                    </td>
                    <td>Genel Ses Toplamı</td>
                    <td>
                      <i class="fa fa-caret-up text-info pr10"></i> {{genelsestoplam}}</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fa fa-microphone text-primary"></span>
                    </td>
                    <td>Haftalık Ses Bilgileri</td>
                    <td>
                      <i class="fa fa-caret-up text-info pr10"></i> {{sesToplam}}</td>
                  </tr>
                 <tr>
                    <td>
                      <span class="fa fa-microphone text-primary"></span>
                    </td>
                    <td>Haftalık Public Bilgileri</td>
                    <td>
                      <i class="fa fa-caret-up text-info pr10"></i> {{pubc}}</td>
                  </tr>
                    <tr>
                    <td>
                      <span class="fa fa-newspaper-o text-info"></span>
                    </td>
                    <td>Genel Mesaj Toplamı</td>
                    <td>
                      <i class="fa fa-caret-up text-info pr10"></i> {{genelchattoplam}} mesaj</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fa fa-newspaper-o text-info"></span>
                    </td>
                    <td>Haftalık Mesaj Bilgileri</td>
                    <td>
                      <i class="fa fa-caret-up text-info pr10"></i> {{chattoplam}} mesaj</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {{#if yetkili}}
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-trophy"></i>
              </span>
              <span class="panel-title"> Yetkili Bilgileri</span>
            </div>
            <div class="panel-body pb5">
                <h6><i class="fa fa-angle-double-right" aria-hidden="true"></i> Yetki Durumu ({{yetkilipuan}}/{{yetkilibilgi}})</h6>
                <div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  aria-valuenow="{{yüzdelikpuan}}" aria-valuemin="" aria-valuemax="100" style="width:{{yzdlik}}%;">
    {{yzdlik}}%
  </div>
</div>
<div class="alert alert-warning">
  <strong>{{rolbilgisi}}</strong> rolüne ulaşmak için! {{kalanpuan}} puan kazanmanız gerekiyor.
</div>
<h6><i class="fa fa-angle-double-right" aria-hidden="true"></i> İstatistik Puan Durumu:</h6>
             <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="hidden">
                    <th class="mw30">#</th>
                    <th>#</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each siralases}}
                  <tr>
                    <td>
                      <span class="fa fa-microphone text-warning"></span> {{kanal}}
                    </td>
                    <td>{{sure}}</td>
                    <td>
                      {{puanetkisi}}</td>
                  </tr>
                    {{/each}}
                                        {{#each chatPuan}}
                  <tr>
                    <td>
                      <span class="fa fa-weixin  text-warning"></span> {{kanal}}
                    </td>
                    <td>{{mesaj}} mesaj</td>
                    <td>
                      +{{puan}}</td>
                  </tr>
                    {{/each}}
                </tbody>
              </table>
<h6><i class="fa fa-angle-double-right" aria-hidden="true"></i> Genel Puan Durumu:</h6>
             <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="hidden">
                      <th>#</th>
                    <th>#</th>
                    <th>Puan</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each teyitbilgi}}
                  <tr>
                      <td><span class="fa fa-id-card-o text-info"></span></td>
                    <td><strong>{{teyit}}</strong> Teyit İşlemi</td>
                    <td>
                      +{{puan}}</td>
                  </tr>
                {{/each}}
                {{#each davetBilgisi}}
                  <tr>
                      <td><span class="fa fa-users text-info"></span></td>
                    <td><strong>{{davet}}</strong> Davet İşlemi</td>
                    <td>
                      +{{puan}}</td>
                  </tr>
                {{/each}}
                  <tr>
                      <td><span class="fa fa-check text-primary"></span></td>
                    <td><strong>{{taglıÇek}}</strong> Taglı İşlemi</td>
                    <td>
                      +{{taglıPuan}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
                {{/if}}

{{#if tasker}}
          <div class="panel" >
            <div class="panel-heading" >
              <span class="panel-icon">
                <i class="fa fa-pencil"></i>
              </span>
              <span class="panel-title">Görev Bilgileri</span>
            </div>
            <div class="panel-body pb5">
             <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last" >
                <thead>
                  <tr class="">
                    <th class="mw30">Görev</th>
                    <th>Tamamlanan</th>
                    <th>Gereken</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="fa fa-microphone text-primary"></span>  Public/Streamer 
                    </td>
                    <td>{{publicStreamer}}</td>
                    <td>
                      {{görevBilgisi.public}} saat</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="fa fa-microphone text-primary"></span> Tüm Ses Kanalları
                    </td>
                    <td>{{gnlSes}}</td>
                    <td>
                      {{görevBilgisi.genelses}} saat</td>
                  </tr>
                  {{#if görevInvite}}
                  <tr>
                    <td><span class="fa fa-users text-warning"></span> {{görevBilgisi.invite}} Davet</td>
                    <td>{{Invite}} Davet</td>
                    <td>{{görevBilgisi.invite}} Davet</td>
                 </tr>
                  {{/if}}
                  {{#if görevKayıt}}
                  <tr>
                    <td><span class="fa fa-user-plus text-success"></span> {{görevBilgisi.kayıt}} Kayıt</td>
                    <td>{{Kayıt}} Kayıt</td>
                    <td>{{görevBilgisi.kayıt}} Kayıt</td>
                  </tr>
                  {{/if}}
                  {{#if görevYetkili}}
                  <tr>
                    <td><span class="fa fa-fire text-success"></span> {{görevBilgisi.yetkili}} Yetkili</td>
                    <td>{{Ytli}} Yetkili</td>
                    <td>{{görevBilgisi.yetkili}} Yetkili</td>
                  </tr>
                  {{/if}}
                  {{#if görevTaglı}}
                   <tr>
                    <td><span class="fa fa-check"></span> {{görevBilgisi.taglı}} Taglı</td>
                    <td>{{Taglı}} Taglı</td>
                    <td>{{görevBilgisi.taglı}} Taglı</td>
                  </tr>
                  {{/if}}
                </tbody>
              </table>


            </div>
          </div>
        {{/if}}

        </div>
        <div class="col-md-8">
          <div class="tab-block">

              <!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">İstatistik Detayları</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Cezalar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Coin Transferleri</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active container" id="home"> <strong>{{ayarlar.sunucuIsmi}}</strong> sunucusunda bulunduğu ses ve mesaj aktiviteleri belirtilmektedir ve bu aktiviteler <strong>Pazar</strong> günleri <strong>00:00</strong> saatinde otomatik olarak temizlenmektedir.
            </br>
            </br>
            {{#if haftalikSesListe}}
              <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="hidden">
                    <th class="mw30">IC</th>
                    <th>Stat Name</th>
                    <th>Count</th>
                  </tr>
                </thead>
                <tbody>
            
                  {{#each haftalikSesListe}}
                  <tr>
                    <td>
                      <span class="fa fa-microphone text-warning"></span>
                    </td>
                    <td>{{kanal}}</td>
                    <td>
                      {{sure}}</td>
                  </tr>
                  {{/each}}
                  {{#each haftalikChatListe}}
                  <tr>
                    <td>
                      <span class="fa fa-weixin text-warning"></span>
                    </td>
                    <td>{{kanal}}</td>
                    <td>
                      {{mesaj}} mesaj</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              {{else}}
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> İstatistik bilgileri bulunamadı.
              {{/if}}</div>
  <div class="tab-pane container" id="menu1">
            {{#if cezalar}}
              <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="">
                    <th class="mw30">No</th>
                    <th>Tip</th>
                    <th>Sebep</th>
		    <th>Tarih</th>
                  </tr>
                </thead>
                <tbody>
            
                  {{#each cezalar}}
                  <tr>
                    <td>#{{No}} ({{#if Aktif}}<span style="color: green;">Aktif</span>{{else}}<span style="color: red;">Aktif Değil!</span>{{/if}})</td>
                    <td>{{Tip}}</td>
                    <td>{{Sebep}}</td>
	            <td>{{Tarih}}</td>
                  </tr>
                  {{/each}}
      
                </tbody>
              </table>
              {{else}}
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Ceza bilgisi bulunamadı.
              {{/if}}</div>
  <div class="tab-pane container" id="menu2">{{#if Transferler}}
              <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                <thead>
                  <tr class="">
                    <th class="mw30">Üye</th>
                    <th>Tutar</th>
                    <th>İşlem</th>
		            <th>Tarih</th>
                  </tr>
                </thead>
                <tbody>
            
                  {{#each Transferler}}
                  <tr>
                    <td><img width="24" height="24" style="border-radius: 50px;" src="{{UyeAv}}"></img> <a href="/profil/{{Id}}">{{Uye}}</a></td>
                    <td>{{Tutar}} 💴</td>
                    <td>{{Durum}}</td>
	                <td>{{Tarih}}</td>
                  </tr>
                  {{/each}}
      
                </tbody>
              </table>
              {{else}}
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Coin transfer bilgisi bulunamadı.
              {{/if}}</div>
</div>
        </div>
      </div>
  </section>













